
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:bisque;
    font-family: 'Open Sans', sans-serif;
}
form{
    align-items: center;
    width: 500px;
    top:0px;
}
.container{
    width:700px;
    height: 750px;
    display: grid;
    margin: 100px ;
    padding: 0%;
}

.think{
    position: absolute;
    height: 70%;
    top:auto;
    left: 55%;
    right: 0%;
}
.life{
    width: 240px;
}
.textbox{
    width: 300px;
    position: relative;
    border: none;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0 ;
    margin: 8px 0;
}
.textbox input{
    width: 300px;
    height: 40px;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    background-color:bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.textbox .valid::before{
    color:green;
    display: none;
    position: absolute;
    content:"✔";
    top:50%;
    right: 0%;
}
.textbox #invalid::before{
    color:rgb(240, 35, 35);
    display: none;
    position: absolute;
    content:"✖";
    top:50%;
    right: 0%;
}
.textbox .fill{
    color:red;
    font-family:initial;
    display:none;
}
/*.textbox .invalid::before{
    position: absolute;
    content:"✔";
    top:50%;
    right: 0%;
}*/
.container form .textbox h5{
    text-align:top;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#button{
    width: 150px;
    border:none;
    border-radius:25px;
    color: white;
    background-color: rgb(40, 171, 214);
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 0.3 ease;
    cursor: pointer;
    text-align: center;
    padding: 8px 0 ;
}
.container .message a:hover{
    padding-left: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    text-shadow: 3px 3px 5px rgb(168, 34, 117);
}
#button:hover{
    background-color: rgb(18, 122, 156); 
}
